body{
  font-family: 'Roboto', sans-serif !important;
}

.text-pop-up{
  font-size: 500px;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  pointer-events: none;
  animation: text-pop-up 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}
@keyframes text-pop-up
{
  0%
  {
    color: white;
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  25%
  {
    color: blue;
    opacity: 0.3;
  }
  50%
  {
    color: red;
    opacity: 0.3;
  }
  75%
  {
    color: yellow;
    opacity: 0.3;
  }
  100%
  {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 #ccc,
    0 6px 0 #ccc,
    0 7px 0 #ccc,
    0 8px 0 #ccc,
    0 9px 0 #ccc,
    0 50px 30px rgba(0,0,0,0.3);
    color: white;
  }
}